{% extends 'base.html' %}


{% block title %}
Mentor Chat | Mentor Platform
{% endblock %}



{% block content %}


<div class="mentor-container">


    <div class="mentor-header">

        <h2>🤖 AI Mentor Assistant</h2>

        <p>
            Ask questions, get guidance, and improve your skills.
        </p>

    </div>





    <div class="chat-box" id="chat-feed">


        {% for chat in chats %}



        <!-- User Chat -->

        <div class="chat-message user">

            <div class="avatar user-avatar">
                You
            </div>


            <div class="message-content">

                {{ chat.message }}

            </div>

        </div>





        <!-- AI Chat -->


        <div class="chat-message mentor">


            <div class="avatar ai-avatar">
                AI
            </div>


            <div class="message-content ai-text">

                {{ chat.response }}

            </div>


        </div>



        {% endfor %}


    </div>






    {% csrf_token %}


    <div class="chat-input">


        <textarea

        id="message"

        placeholder="Ask your mentor anything..."

        rows="1"></textarea>




        <button id="send-message">

            ➤

        </button>



    </div>



</div>









<script>


const sendButton =
document.getElementById("send-message");


const messageInput =
document.getElementById("message");


const chatFeed =
document.getElementById("chat-feed");





// Clean AI response

function cleanResponse(text)
{

    return text

    // Remove markdown headings
    .replace(/#{1,6}/g,"")


    // Remove bold markdown
    .replace(/\*\*/g,"")


    // Convert * bullets
    .replace(/\*/g,"•")


    // Convert - bullets
    .replace(/-\s/g,"• ")


    .trim();

}







// Get CSRF token

function getCookie(name)
{

    let cookieValue = null;


    if(document.cookie && document.cookie !== "")
    {

        const cookies =
        document.cookie.split(";");


        for(let i=0;i<cookies.length;i++)
        {

            const cookie =
            cookies[i].trim();


            if(cookie.startsWith(name + "="))
            {

                cookieValue =
                decodeURIComponent(
                    cookie.substring(name.length + 1)
                );


                break;

            }

        }

    }


    return cookieValue;

}









sendButton.onclick = async function()
{


    let message =
    messageInput.value.trim();



    if(message === "")
    {
        return;
    }






    // Display user message

    chatFeed.innerHTML += `


    <div class="chat-message user">


        <div class="avatar user-avatar">

            You

        </div>



        <div class="message-content">

            ${message}

        </div>


    </div>


    `;







    // AI loading message


    let aiBox =
    document.createElement("div");



    aiBox.className =
    "chat-message mentor";



    aiBox.innerHTML = `


    <div class="avatar ai-avatar">

        AI

    </div>


    <div class="message-content">

        Typing...

    </div>


    `;



    chatFeed.appendChild(aiBox);







    try
    {


        const response =
        await fetch(

            '{% url "mentor:send_message" %}',

            {

                method:"POST",


                headers:
                {

                    "Content-Type":
                    "application/json",


                    "X-CSRFToken":
                    getCookie("csrftoken")

                },


                body:
                JSON.stringify(
                {

                    message:message

                })

            }

        );







        const data =
        await response.json();






        aiBox

        .querySelector(".message-content")

        .innerHTML =

        cleanResponse(data.response)

        .replace(/\n/g,"<br>");





    }


    catch(error)
    {


        console.error(error);


        aiBox

        .querySelector(".message-content")

        .innerHTML =

        "⚠️ Unable to connect to AI Mentor.";

    }







    messageInput.value = "";



    chatFeed.scrollTop =
    chatFeed.scrollHeight;



};









// Press Enter to send message

messageInput.addEventListener(

"keydown",

function(e)

{


    if(e.key === "Enter" && !e.shiftKey)

    {

        e.preventDefault();


        sendButton.click();

    }


}

);



</script>



{% endblock %}